/Bari_Tuts/build/
/Bari_Tuts/nbproject/private/
/Tabs/nbproject/private/
/video/nbproject/private/
/responsive/nbproject/private/
/responsiv/nbproject/private/
/Responsiv/nbproject/private/
/CSS/nbproject/private/
/BootstrapOne/nbproject/private/
/MyProject/nbproject/private/
/Practc/nbproject/private/