body{
    background: #EEEEEE;
}
.wdth{
    width: 90%;
    margin:0 auto;       
}

.promo{
    background-image: url('../img/assessment_promo_bg_1.jpg');
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.promoCls{
    position: absolute;
    right: 2%;
    top: 27%;
}

.menuBar{
    background: #374046;
}
.menu{
    background: #374046;

    height: 38px;
    margin:0 auto;
}

.menuLeft{
    float:left;
}

.menuLeft ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menuLeft ul li{
    display:inline-block;
    margin: 4px -3px;

}
.menuLeft ul li:first-child{
    margin-left: 0;
}
.menuLeft ul li a{
    color: #bdbdbd;
    font-size: 11px;
    padding: 12px 19px;
    text-decoration:none;
    font-family:M; 
}

.menuLeft ul li a:hover{
    background: #668416;
}
.menuRight{
    float: right;
}
.menuLeft ul li{
    display: inline-block;
}


.menuRight a{
    float:right;
    color: #bdbdbd;
    margin: 9px 12px;
    font-size: 13px;
}

.langBtn{
    float: right;
    margin: 8px 0 0 16px;
}

.langBtn a{

}
.btnE{
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px 0 0 4px;
    font-size: 13px;
}
.btnB{

    border: 1px solid white;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;
    background: #373C41;
    font-size: 13px;
}

/*Third Row*/
.logoBar{
    background:white;
    box-shadow: 0 4px 20px rgba(0,0,0,.25);
    height: auto;
    position: relative;
    z-index: 5;
}
.logoNav{
    width:90%;
    margin:0 auto;
}

.logo{
    padding: 12px 20px;
    float: left;
}

.mainNav li{
    
}

.mainNav li a{
    padding: 22px 0 22px 0;
    padding-right: 0px;
    padding-left: 0px;
margin: -8px 0 -8px 0;
font-size: 13px;
}

.mainNav li a:hover{
    background: #F5F5F5;
}




.navs ul li a:hover{
    background: #F5F5F5;

}



/*CSS codes for slider*/

.slider{
    min-height: 280px;
    overflow:hidden;
}

.bc-slider{
    position: absolute; 
}

.sliderTop{

}
/*Search panel over sliader*/
.srcPanel{
    padding: 50px 0 0 0;
}

.srcFrm{
    background: #2F3B78;
    padding: 5px 10px 15px 0;
    margin: 30px 0 0 0;
    border-radius: 5px;
}

.tag-icon{}
.srcBox{
background: white;
margin: 0 10px 0 12px;
    margin-bottom: 0px;
margin-bottom: 0px;
padding: 6px 0 6px 12px;
border-radius: 4px;
}

.srcBox input[type=text]{
    border: none;
width: 92%;
padding: 0px 0 0 5px;
}
/*
.slct select{
    border: 1px white;
    padding: 7px 1px 6px 4px;
    margin: 8px 0 0 0;
    width: 29%;
    border-radius: 4px;
}

.slct type[type=submit]{
    border: 1px white;
    padding: 7px 1px 6px 4px;
    margin: 8px 0 0 0;
    width: 29%;
    border-radius: 4px;
}*/

/*.tagIcon{
    margin: 0 -5px 0 0;
    padding: 8px 0 14px 0;
}*/
/*.srcFrm{
    background: #2F4D89;
    margin: 20px 0 0 0;
    padding: 12px 0 10px 0;
    border-radius: 4px;
}

.srcFrm h3{
    font-size: 24px;
    color: #424242;
    font-weight: 700;
    margin: 0 0 20px;
}
.srcInput{
    background: white;
    border-radius: 5px;
    padding: 8px 0px 6px 10px;
    margin: 0 8px 0 15px;
}


.srcFrm input[type=text]{
    border: none;
    padding: 7px 0px 0px 4px;
    border-radius: 4px;
    margin-bottom: 4px;
    width: 40%;
}
.srcFrm select{
    border: none;
    padding: 5px 10% 10px 4px;
    border-radius: 4px;
}*/

.sliderRightbar{
    background: #2F417D;
    padding: 0 0 18px 15px;
}

.divisions h4{
    font-size: 14px;
    padding: 15px 0 15px 0;
    color:white;
}

.divisions li{

    margin: 0 5px 5px 0px;
}


.divisions li a{
    color: white;
    font-size: 12px;
    border: 1px solid;
    margin: 3px 0px 5px 0px;
    border-radius: 4px;
    text-decoration: none;
    padding: 4px 6px;
}

.quickLinks h4{
    font-size: 14px;
    color: white;
    padding: 15px 0 0 0;
}

.quickLinks li a{
    color: white;
    font-size: 11px;
    text-decoration: none;
    padding: 0 8px 0 0;
}
